.Black { background-color: #000000 !important; color: #000000!important; }
.DimGray { background-color: #696969 !important; color: #696969!important; }
.Gray { background-color: #808080 !important; color: #808080!important; }
.DarkGray { background-color: #A9A9A9 !important; color: #A9A9A9!important; }
.Silver { background-color: #C0C0C0 !important; color: #C0C0C0!important; }
.LightGrey { background-color: #D3D3D3 !important; color: #D3D3D3!important; }
.Gainsboro { background-color: #DCDCDC !important; color: #DCDCDC!important; }
.White { background-color: #FFFFFF !important; color: #FFFFFF!important; }
.SlateBlue { background-color: #6A5ACD !important; color: #6A5ACD!important; }
.DarkSlateBlue { background-color: #483D8B !important; color: #483D8B!important; }
.MidnightBlue { background-color: #191970 !important; color: #191970!important; }
.Navy { background-color: #000080 !important; color: #000080!important; }
.DarkBlue { background-color: #00008B !important; color: #00008B!important; }
.MediumBlue { background-color: #0000CD !important; color: #0000CD!important; }
.Blue { background-color: #0000FF !important; color: #0000FF!important; }
.CornflowerBlue { background-color: #6495ED !important; color: #6495ED!important; }
.RoyalBlue { background-color: #4169E1 !important; color: #4169E1!important; }
.DodgerBlue { background-color: #1E90FF !important; color: #1E90FF!important; }
.DeepSkyBlue { background-color: #00BFFF !important; color: #00BFFF!important; }
.LightSkyBlue { background-color: #87CEFA !important; color: #87CEFA!important; }
.SkyBlue { background-color: #87CEEB !important; color: #87CEEB!important; }
.LightBlue { background-color: #ADD8E6 !important; color: #ADD8E6!important; }
.SteelBlue { background-color: #4682B4 !important; color: #4682B4!important; }
.LightSteelBlue { background-color: #B0C4DE !important; color: #B0C4DE!important; }
.SlateGray { background-color: #708090 !important; color: #708090!important; }
.LightSlateGray { background-color: #778899 !important; color: #778899!important; }
.AquaCyan { background-color: #00FFFF !important; color: #00FFFF!important; }
.DarkTurquoise { background-color: #00CED1 !important; color: #00CED1!important; }
.Turquoise { background-color: #40E0D0 !important; color: #40E0D0!important; }
.MediumTurquoise { background-color: #48D1CC !important; color: #48D1CC!important; }
.LightSeaGreen { background-color: #20B2AA !important; color: #20B2AA!important; }
.DarkCyan { background-color: #008B8B !important; color: #008B8B!important; }
.Teal { background-color: #008B8B !important; color: #008B8B!important; }
.Aquamarine { background-color: #7FFFD4 !important; color: #7FFFD4!important; }
.MediumAquamarine { background-color: #66CDAA !important; color: #66CDAA!important; }
.CadetBlue { background-color: #5F9EA0 !important; color: #5F9EA0!important; }
.DarkSlateGray { background-color: #2F4F4F !important; color: #2F4F4F!important; }
.MediumSpringGreen { background-color: #00FA9A !important; color: #00FA9A!important; }
.SpringGreen { background-color: #00FF7F !important; color: #00FF7F!important; }
.PaleGreen { background-color: #98FB98 !important; color: #98FB98!important; }
.LightGreen { background-color: #90EE90 !important; color: #90EE90!important; }
.DarkSeaGreen { background-color: #8FBC8F !important; color: #8FBC8F!important; }
.MediumSeaGreen { background-color: #3CB371 !important; color: #3CB371!important; }
.SeaGreen { background-color: #2E8B57 !important; color: #2E8B57!important; }
.DarkGreen { background-color: #006400 !important; color: #006400!important; }
.Green { background-color: #008000 !important; color: #008000!important; }
.ForestGreen { background-color: #228B22 !important; color: #228B22!important; }
.LimeGreen { background-color: #32CD32 !important; color: #32CD32!important; }
.Lime { background-color: #00FF00 !important; color: #00FF00!important; }
.LawnGreen { background-color: #7CFC00 !important; color: #7CFC00!important; }
.Chartreuse { background-color: #7FFF00 !important; color: #7FFF00!important; }
.GreenYellow { background-color: #ADFF2F !important; color: #ADFF2F!important; }
.YellowGreen { background-color: #9ACD32 !important; color: #9ACD32!important; }
.OliveDrab { background-color: #6B8E23 !important; color: #6B8E23!important; }
.DarkOliveGreen { background-color: #556B2F !important; color: #556B2F!important; }
.Olive { background-color: #808000 !important; color: #808000!important; }
.DarkKhaki { background-color: #BDB76B !important; color: #BDB76B!important; }
.Goldenrod { background-color: #DAA520 !important; color: #DAA520!important; }
.DarkGoldenrod { background-color: #B8860B !important; color: #B8860B!important; }
.SaddleBrown { background-color: #8B4513 !important; color: #8B4513!important; }
.Sienna { background-color: #A0522D !important; color: #A0522D!important; }
.RosyBrown { background-color: #BC8F8F !important; color: #BC8F8F!important; }
.Peru { background-color: #CD853F !important; color: #CD853F!important; }
.Chocolate { background-color: #D2691E !important; color: #D2691E!important; }
.SandyBrown { background-color: #F4A460 !important; color: #F4A460!important; }
.NavajoWhite { background-color: #FFDEAD !important; color: #FFDEAD!important; }
.Wheat { background-color: #F5DEB3 !important; color: #F5DEB3!important; }
.BurlyWood { background-color: #DEB887 !important; color: #DEB887!important; }
.Tan { background-color: #D2B48C !important; color: #D2B48C!important; }
.MediumSlateBlue { background-color: #7B68EE !important; color: #7B68EE!important; }
.MediumPurple { background-color: #9370DB !important; color: #9370DB!important; }
.BlueViolet { background-color: #8A2BE2 !important; color: #8A2BE2!important; }
.Indigo { background-color: #4B0082 !important; color: #4B0082!important; }
.DarkViolet { background-color: #9400D3 !important; color: #9400D3!important; }
.DarkOrchid { background-color: #9932CC !important; color: #9932CC!important; }
.MediumOrchid { background-color: #BA55D3 !important; color: #BA55D3!important; }
.Purple { background-color: #800080 !important; color: #800080!important; }
.DarkMagenta { background-color: #8B008B !important; color: #8B008B!important; }
.FuchsiaMagenta { background-color: #FF00FF !important; color: #FF00FF!important; }
.Violet { background-color: #EE82EE !important; color: #EE82EE!important; }
.Orchid { background-color: #DA70D6 !important; color: #DA70D6!important; }
.Plum { background-color: #DDA0DD !important; color: #DDA0DD!important; }
.MediumVioletRed { background-color: #C71585 !important; color: #C71585!important; }
.DeepPink { background-color: #FF1493 !important; color: #FF1493!important; }
.HotPink { background-color: #FF69B4 !important; color: #FF69B4!important; }
.PaleVioletRed { background-color: #DB7093 !important; color: #DB7093!important; }
.LightPink { background-color: #FFB6C1 !important; color: #FFB6C1!important; }
.Pink { background-color: #FFC0CB !important; color: #FFC0CB!important; }
.LightCoral { background-color: #F08080 !important; color: #F08080!important; }
.IndianRed { background-color: #CD5C5C !important; color: #CD5C5C!important; }
.Crimson { background-color: #DC143C !important; color: #DC143C!important; }
.Maroon { background-color: #800000 !important; color: #800000!important; }
.DarkRed { background-color: #8B0000 !important; color: #8B0000!important; }
.FireBrick { background-color: #B22222 !important; color: #B22222!important; }
.Brown { background-color: #A52A2A !important; color: #A52A2A!important; }
.Salmon { background-color: #FA8072 !important; color: #FA8072!important; }
.DarkSalmon { background-color: #E9967A !important; color: #E9967A!important; }
.LightSalmon { background-color: #FFA07A !important; color: #FFA07A!important; }
.Coral { background-color: #FF7F50 !important; color: #FF7F50!important; }
.Tomato { background-color: #FF6347 !important; color: #FF6347!important; }
.Red { background-color: #FF0000 !important; color: #FF0000!important; }
.OrangeRed { background-color: #FF4500 !important; color: #FF4500!important; }
.DarkOrange { background-color: #FF8C00 !important; color: #FF8C00!important; }
.Orange { background-color: #FFA500 !important; color: #FFA500!important; }
.Gold { background-color: #FFD700 !important; color: #FFD700!important; }
.Yellow { background-color: #FFFF00 !important; color: #FFFF00!important; }
.Khaki { background-color: #F0E68C !important; color: #F0E68C!important; }
.AliceBlue { background-color: #F0F8FF !important; color: #F0F8FF!important; }
.GhostWhite { background-color: #F8F8FF !important; color: #F8F8FF!important; }
.Snow { background-color: #FFFAFA !important; color: #FFFAFA!important; }
.Seashell { background-color: #FFF5EE !important; color: #FFF5EE!important; }
.FloralWhite { background-color: #FFFAF0 !important; color: #FFFAF0!important; }
.WhiteSmoke { background-color: #F5F5F5 !important; color: #F5F5F5!important; }
.Beige { background-color: #F5F5DC !important; color: #F5F5DC!important; }
.OldLace { background-color: #FDF5E6 !important; color: #FDF5E6!important; }
.Ivory { background-color: #FFFFF0 !important; color: #FFFFF0!important; }
.Linen { background-color: #FAF0E6 !important; color: #FAF0E6!important; }
.Cornsilk { background-color: #FFF8DC !important; color: #FFF8DC!important; }
.AntiqueWhite { background-color: #FAEBD7 !important; color: #FAEBD7!important; }
.BlanchedAlmond { background-color: #FFEBCD !important; color: #FFEBCD!important; }
.Bisque { background-color: #FFE4C4 !important; color: #FFE4C4!important; }
.LightYellow { background-color: #FFFFE0 !important; color: #FFFFE0!important; }
.LemonChiffon { background-color: #FFFACD !important; color: #FFFACD!important; }
.LightGoldenrodYellow { background-color: #FAFAD2 !important; color: #FAFAD2!important; }
.PapayaWhip { background-color: #FFEFD5 !important; color: #FFEFD5!important; }
.PeachPuff { background-color: #FFDAB9 !important; color: #FFDAB9!important; }
.Moccasin { background-color: #FFE4B5 !important; color: #FFE4B5!important; }
.PaleGoldenrod { background-color: #EEE8AA !important; color: #EEE8AA!important; }
.MistyRose { background-color: #FFE4E1 !important; color: #FFE4E1!important; }
.LavenderBlush { background-color: #FFF0F5 !important; color: #FFF0F5!important; }
.Lavender { background-color: #E6E6FA !important; color: #E6E6FA!important; }
.Thistle { background-color: #D8BFD8 !important; color: #D8BFD8!important; }
.Azure { background-color: #F0FFFF !important; color: #F0FFFF!important; }
.LightCyan { background-color: #E0FFFF !important; color: #E0FFFF!important; }
.PowderBlue { background-color: #B0E0E6 !important; color: #B0E0E6!important; }
.PaleTurquoise { background-color: #E0FFFF !important; color: #E0FFFF!important; }
.Honeydew { background-color: #F0FFF0 !important; color: #F0FFF0!important; }
.MintCream { background-color: #F5FFFA !important; color: #F5FFFA!important; }
